    body {
         font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        /*background: url('https://images.unsplash.com/photo-1523240795612-9a054b0db644') no-repeat center/cover; */
        height: 100vh; 
        display: flex; 
        background-color: #ffffffff;
        align-items: center; 
        justify-content: center; 
        flex-direction: column; 
        text-align: center; 
        color: white; 
        background-size: cover;
        min-height: 100vh;

    }

    .register-container {
        background: rgba(255, 255, 255, 0.65);
        border-radius: 16px;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        /*box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);*/
        width: 100%;
        max-width: 360px;
        padding: 30px;
        color: white;
        text-align: center;
    }

    .register-box h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #040504ff;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
      width: 100%;
      padding: 10px 0px;
      border: none;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.15);
      color: #040504ff;
      font-size: 16px;
    }

    .form-group input::placeholder {
       color: #040504ff;
    }

    .btn {
      display: block;
      width: 100%;
      padding: 12px;
      background: #4caf50;
      border: none;
      border-radius: 8px;
      color: #080808ff;
      font-size: 16px;
      font-weight: bold;
      transition: background 0.3s ease;
      cursor: pointer;
    }

    .btn:hover {
      background: #43a047;
    }

    .login-link {
      text-align: center;
      margin-top: 15px;
      color: #000000ff;
      margin-left: 20px;
      text-decoration: underline;
    }

    .error,
    .message {
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }

    .error {
      background: #ffcdd2;
      color: #c62828;
    }

    .message {
      background: #c8e6c9;
      color: #2e7d32;
    }

    .logo {
      display: block;
      margin: 0 auto 10px;
      max-width: 60px;
      height: auto;
      border-radius: 36px;
    }

    @media (max-width: 480px) {
      .register-box {
        padding: 30px 20px;
      }
    }